<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ALL BOOKINGS</title>
</head>
<body>
<div class="row"  style="margin-bottom:50px;">
    <div class="col-md-offset-2 col-md-8">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">All Bookings</h3>
            </div>
            <div class="panel-body">
                <table class="table table-bordered">
                    <thead>
                    <tr class="btn-success">
                        <th>Booking Id</th>
                        <th>Room Id</th>
                        <th>User Id</th>
                        <th>Event Id</th>
                        <th>Booked From</th>
                        <th>Booked To</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${#lists.isEmpty(allBookings)}" class="btn-warning">
                        <td colspan="4" align="center">No Bookings Yet!!!</td>
                    </tr>
                    <tr th:each="booking : ${allBookings}">
                        <td th:text="${booking.id}"></td>
                        <td th:text="${booking.roomId}"></td>
                        <td th:text="${booking.userId}"></td>
                        <td th:text="${booking.eventId}"></td>
                        <td th:text="${booking.bookedFrom}"></td>
                        <td th:text="${booking.bookedTo}"></td>
                        <td th:text="${booking.status}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>