<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Room Booking System</title>
        <style>
            th,td {
                width:250px;
            }
            tbody {
                text-align: center;
            }
        </style>
    </head>
    <body>
        <h2><a th:href="@{/admin}">Home</a></h2>
        <div class="row"  style="margin-bottom:50px;">
            <div class="col-md-offset-2 col-md-8">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">All Bookings</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-bordered">
                            <thead>
                            <tr class="btn-success">
                                <th>Booking Id</th>
                                <th>Room Name</th>
                                <th>User Name</th>
                                <th>Event </th>
                                <th>Booked From</th>
                                <th>Booked To</th>
                                <th>Status</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:if="${#lists.isEmpty(allBookings)}" class="btn-warning">
                                <td colspan="8" align="center">No Bookings Yet!!!</td>
                            </tr>
                            <tr th:each="booking : ${allBookings}">
                                <td th:text="${booking.id}"></td>
                                <td th:text="${booking.room.name}"></td>
                                <td th:text="${booking.user.firstName}"></td>
                                <td th:text="${booking.event.name}"></td>
                                <td th:text="${booking.bookedFrom}"></td>
                                <td th:text="${booking.bookedTo}"></td>
                                <td th:text="${booking.status}"></td>
                                <td>
                                    <form action="#" th:action="@{book/{id}(id=${booking.id})}" th:method="get" >
                                        <input type="hidden" value="edit" />
                                        <button type="submit" id="submitButton">EDIT</button>
                                    </form>
                                </td>
                                <td>
                                    <form action="#" th:action="@{book/{id}(id=${booking.id})}" th:method="delete" >
                                        <input type="hidden" value="delete" />
                                        <button type="submit" id="submitButton">DELETE</button>
                                    </form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <!-- Save Alert Messages -->
                <div th:if="${saveBooking eq 'failure'}">
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <strong>Sorry!</strong> Room unavailable for the entered time slot.
                    </div>
                </div>
                <div th:if="${saveBooking eq 'success'}">
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <strong>Success!!!!!</strong> Room Booked Successfully.
                    </div>
                </div>
                <!-- Deletion Alert Messages -->
                <div th:if="${deletion eq 'failure'}">
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <strong>Error!</strong> Booking Not Deleted.
                    </div>
                </div>
                <div th:if="${deletion eq 'success'}">
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <strong>Success!</strong> Booking Deleted Successfully.
                    </div>
                </div>
                <!-- Edit Alert Message -->
                <div th:if="${edit eq 'failure'}">
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <strong>Sorry!</strong> Room unavailable for the entered time slot.
                    </div>
                </div>
                <div th:if="${edit eq 'success'}">
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <strong>Success!</strong> Booking Updated Successfully.
                    </div>
                </div>
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">Book a Room</h3>
                    </div>
                    <div class="panel-body">
                        <form th:object="${booking}" action="#" method="post">
                            <div style="clear:both; height:10px;">
                                <label>Room</label>
                                <select th:field="*{room.id}" class="form-control">
                                    <option th:each="room : ${allRooms}" th:value="${room.id}" th:text="${room.name}"></option>
                                </select>
                                <br/><br/><br/>
                                <label>User Name</label>
                                <select th:field="*{user.id}" class="form-control">
                                    <option th:each="user : ${allUsers}" th:value="${user.id}" th:text="${user.firstName}"></option>
                                </select>
                                <br/><br/><br/>
                                <label>Event</label>
                                <select th:field="*{event.id}" class="form-control">
                                    <option th:each="event : ${allEvents}" th:value="${event.id}" th:text="${event.name}"></option>
                                </select>
                                <br/><br/><br/>
                                <label>Book from</label>
                                <input type="datetime" th:field="*{bookedFrom}" class="form-control" placeholder="YYYY-MM-DD hh:mm:ss" required="required"/>
                                <br/><br/><br/>
                                <label>Book To</label>
                                <input type="datetime" th:field="*{bookedTo}" class="form-control" placeholder="YYYY-MM-DD hh:mm:ss" required="required"/>
                                <br/><br/><br/>
                                <label>Status</label>
                                <input type="text" th:field="*{status}" class="form-control" placeholder="status" required="required"/>
                                <br/><br/><br/>
                                <input type="submit" class="btn btn-danger pull-right" value="Save"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
